<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
    <div class="top-part">
        <a style="text-align:right;font-size:14px" href="http://127.0.0.1:8000/">HOME</a>
        <a style="text-align:right;font-size:14px" href="http://127.0.0.1:8000/register/">Register</a>
        <a style="text-align:right;font-size:14px" href="http://127.0.0.1:8000/contact/">Contact Us</a>
        <a style="text-align:right;font-size:14px" href="http://127.0.0.1:8000/about/">About Us</a>
    </div>
    <h1>About Us</h1>
    <p>Here at Swift Taylor, we rent tools to people. The Swift Taylor Tool Co-op is a site where you rent tools.
        More information about renting tools. Tools are fun to rent. Want to rent a tool? Rent it on this site.
        Thats what the site if for. Its for renting tools. If you want to rent tools, rent them from the Swift Taylor
        Tool Co-op. We are still building this site so I don't know what to put here. Just pretend this is a real
        about page.</p>
</body>
</html>