<!DOCTYPE html>
{% load static %}
<html lang = "en">
    <head>
        {% load static %}
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href = "{% static 'tools/style.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <title>Community Blog</title>
    </head>
<!--header-->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Swift-Taylor Tool Co-Op</a>
    </div>
    <!--Navbar links-->
    <ul class="nav navbar-nav">
      <li><a href="{% url 'homepage' %}">Home</a></li>
      <li><a href="{% url 'tools' %}">Tools</a></li>
      <li><a href="{% url 'about' %}">About</a></li>
    <li><a href="{% url 'contact' %}">Contact</a></li>
    <li><a href="{% url 'blog' %}">Blog</a></li>
    </ul>
    <!--User Management Buttons-->
    <ul class="nav navbar-nav navbar-right">
    {% if user.is_authenticated %}
      <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    {% else %}
      <li class="active"><a href="{% url 'register' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    {% endif %}

    </ul>
  </div>
</nav>
	<body>
  <div class = "scrollable">

      <br/>
      <br/>
        <br/>
    
            {% if all_blog_list %}
                
                <ul>
                    {% for blog in all_blog_list %}
                <li>
                    <a href="{% url 'entry' blog.id%}">{{ blog.title }}</a> ({{blog.author}})
                    <br/>
                    {{blog.content|truncatewords:200}}
                </li>
                {% endfor %}
            </ul>
            {% else %}
                <p>No posts.</p>
            {% endif %} 
    
            <br/>
            {% if user.is_authenticated %}
            New Blog Post: 
            <form action="{% url 'postblog' %}"method="post">
                {% csrf_token %}
                Title:<br>
                <input type="text" name="title"><br>
                Name:<br>
                <input type="text" name="name"><br>
                Content:<br>
                <input type="textarea" name="content"><br>
                
                <input type="submit" value="Post">
              </form>
            {% endif %}
    
            <form action="{% url 'postblog' %}"method="post">
              {% csrf_token %}
              Title:<br>
              <input type="text" name="title"><br>
              Name:<br>
              <input type="text" name="name"><br>
              Content:<br>
              <textarea class="input" rows = "15" cols = "50" name = "content"></textarea>
    
              <input type="submit" value="Post">
            </form>

  </div>
	
      <br><br/>
      <br><br/>
        
        <!--footer-->
<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container">
    <p class="nav navbar-nav navbar-left" style="color:gray;"> Copyright &copy; Swift Taylor Co-Op</p>
	<p class="nav navbar-nav navbar-right" style="color:gray;"> Address: Old Main Hill, Logan, UT 84321 </p>
  </div>
</nav>

    </body>

</html>