<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Us</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'tools/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body class="wood-background">
<!--header-->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Swift-Taylor Tool Co-Op</a>
    </div>
    <!--Navbar links-->
    <ul class="nav navbar-nav">
      <li><a href="{% url 'homepage' %}">Home</a></li>
      <li><a href="{% url 'tools' %}">Tools</a></li>
      <li><a href="{% url 'about' %}">About</a></li>
    <li><a href="{% url 'contact' %}">Contact</a></li>
    <li><a href="{% url 'blog' %}">Blog</a></li>
    </ul>
    <!--User Management Buttons-->
    <ul class="nav navbar-nav navbar-right">
    {% if user.is_authenticated %}
      <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    {% else %}
      <li class="active"><a href="{% url 'register' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    {% endif %}

    </ul>
  </div>
</nav>
	<br>
	<br>
    <div class="opaque-container">
	<h1 style="text-align:left;">Contact Us</h1>
    <p>Phone Number: (435)-123-4567</p>
    <p>Email: <a href = "mailto: swifttaylortoolcoop@gmail.com">swifttaylortoolcoop@gmail.com</a></p>
    <p>Address: Old Main Hill, Logan, UT 84321</p>
    <p>Mailing: 1234 Old Main Hill, Logan, UT 84322-0105</p>
    </div>
<!--footer-->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <p class="nav navbar-nav navbar-right"> Created on 22 March 2020</p>
  </div>
</nav>
</body>
</html>