<!DOCTYPE html>
{% load static %}
<html lang = "en">
    <head>
        {% load static %}
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href = "{% static 'tools/style.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
<!--header-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Swift-Taylor Tool Co-Op</a>
      </div>
      <!--Navbar links-->
      <ul class="nav navbar-nav">
        <li><a href="{% url 'homepage' %}">Home</a></li>
        <li><a href="{% url 'tools' %}">Tools</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
      <li><a href="{% url 'contact' %}">Contact</a></li>
      <li class="active"><a href="{% url 'blog' %}">Blog</a></li>
      </ul>
      <!--User Management Buttons-->
      <ul class="nav navbar-nav navbar-right">
      <li><a href="{% url 'register' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </nav>
    <body>
    <br>
	<br> 


        <h1>{{object.title}}</h1><br>
        <p>posted {{object.date}}</p><br>
        {{object.content}}

        <br>
	<!--footer-->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <p class="nav navbar-nav navbar-right"> Created on 22 March 2020</p>
  </div>
</nav>
    </body>

</html>