<!DOCTYPE html>
{% load static %}

<html>
<head>
  <meta charset="utf-8">
  <title>Tool Co-op</title>
  <link rel="stylesheet" type="text/css" href="{% static 'tools/style.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
  <div class="top-part">
    <a style="text-align:right;font-size:14px" href="http://127.0.0.1:8000/register/">Register</a>
  </div>
  <h1>Welcome to the Tool Co-op!</h1>
  <div class="py-5">
    <div class="container">
    {% if tools_list %}
      <div class="grid-container">
        {% for tool in tools_list %}
          <div>
            <div class="card w-100 h-100">
              <div class="card-block">
                <h4 class="card-title">{{ tool.name }}</h4>
                <p class="card-text p-y-1">{{ tool.description }}</p>
                <a href="#">Reserve Now</a>
                <a href="{% url 'tools:tool_view' tool.id %}" style="float: right;">Schedule</a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <p>No tools found</p>
    {% endif %}
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
</body>
</html>
