<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <title>Tool Co-Op</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'tools/style.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body class="wood-background">

<!--header-->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Swift-Taylor Tool Co-Op</a>
    </div>
    <!--Navbar links-->
    <ul class="nav navbar-nav">
      <li><a href="{% url 'homepage' %}">Home</a></li>
      <li><a href="{% url 'tools' %}">Tools</a></li>
      <li><a href="{% url 'about' %}">About</a></li>
    <li><a href="{% url 'contact' %}">Contact</a></li>
    <li><a href="{% url 'blog' %}">Blog</a></li>
    </ul>
    <!--User Management Buttons-->
    <ul class="nav navbar-nav navbar-right">
    {% if user.is_authenticated %}
      <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    {% else %}
      <li class="active"><a href="{% url 'register' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    {% endif %}

    </ul>
  </div>
</nav>

<div class="container">
  <h2>Carousel Example</h2>  
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!--Slides-->
    <div class="carousel-inner">
      <div class="item active">
        <img src="{% static 'tools/tools.jpg' %}" alt="Tools" style="width:100%;">
		  <div class="opaque-container">
		    <h3>We have a wide selection of tools.</h3>
      </div>
      </div>

      <div class="item">
        <img src="{% static 'tools/gardening.jpg' %}" alt="Gardening" style="width:100%;">
		  <div class="opaque-container">
		    <h3>Here is one of our tools being used in the community.</h3>
			</div>
      </div>
    
      <div class="item">
        <img src="{% static 'tools/renovation.jpg' %}" alt="Renovation" style="width:100%;">
			  		  <div class="opaque-container">
		    <h3>No matter the job, we have the tools to help you get it done.</h3>
			</div>
      </div>

    </div>

    <!--Controls-->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<!-- Footer -->
<footer class="page-footer font-small bg-white text-muted pt-4 fixed-bottom">

  <!-- Footer Text -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-6 mb-md-0 mb-3">

        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fas fa-home mr-3"></i> Old Main Hill Logan, Utah 84322</p>
        <p>
          <i class="fas fa-envelope mr-3"></i>swifttaylorcoop@gmail.com</p>
        <p>
          <i class="fas fa-phone mr-3"></i> +1 800.555.5555</p>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Text -->

  <!-- Copyright -->
  <div class="footer-copyright text-center bg-white text-muted py-3">© 2020 Copyright: Swift Taylor Tool Co-Op
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->


</body>
</html>