<!DOCTYPE html>
{% load static %}

<html>
<head>
  <meta charset="utf-8">
  <title>Tool Co-op</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'tools/style.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<!--header-->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Swift-Taylor Tool Co-Op</a>
    </div>
    <!--Navbar links-->
    <ul class="nav navbar-nav">
      <li><a href="{% url 'homepage' %}">Home</a></li>
      <li class="active"><a href="{% url 'tools' %}">Tools</a></li>
      <li><a href="{% url 'about' %}">About</a></li>
    <li><a href="{% url 'contact' %}">Contact</a></li>
    <li><a href="{% url 'blog' %}">Blog</a></li>
    </ul>
    <!--User Management Buttons-->
    <ul class="nav navbar-nav navbar-right">
    <li><a href="{% url 'register' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
	<br>
	<br>
  </div>
  <h1>Tool Reservation Page</h1>
    <div class="tools-container" style="display: flex; flex-wrap: wrap;">
    {% if tools_list %}
        {% for tool in tools_list %}
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="thumbnail">
              <img src="{{ tool.photo.url }}" class="card-img-top" alt="bootstraplogo">
              <div class="caption">
                <h4>{{ tool.name }}</h4>
                <p>{{ tool.description }}</p>
                <a href="#" class="btn btn-primary">Reserve Now</a>
              </div>
            </div>
          </div>
        {% endfor %}
    {% else %}
      <p>No tools found</p>
    {% endif %}
    </div>
  <!--footer-->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <p class="nav navbar-nav navbar-right"> Created on 22 March 2020</p>
  </div>
</nav>
  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

  </body>
</html>
