<!DOCTYPE html>
{% load static %}
<html>
<head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'tools/style.css' %}">

<style>
</style>

</head>


<body class="wood-background">

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Swift-Taylor Tool Co-Op</a>
    </div>
    <!--Navbar links-->
    <ul class="nav navbar-nav">
      <li><a href="{% url 'homepage' %}">Home</a></li>
      <li><a href="{% url 'tools' %}">Tools</a></li>
      <li><a href="{% url 'about' %}">About</a></li>
    <li><a href="{% url 'contact' %}">Contact</a></li>
    <li><a href="{% url 'blog' %}">Blog</a></li>
    </ul>
    <!--User Management Buttons-->
    <ul class="nav navbar-nav navbar-right">
    {% if user.is_authenticated %}
      <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    {% else %}
      <li class="active"><a href="{% url 'register' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    {% endif %}

    </ul>
  </div>
</nav>

<div class="content-section register-container" style="padding-top:10px;">
	<form method = "POST">
		{% csrf_token %}
		<fieldset class="form-group">
			<legend class="border-bottom mb-4">Log In</legend>
			{{ form.as_p }}
		</fieldset>
		<div class="form-group">
			<button class="btn btn-outline-info" type="submit">Log In</button>
		</div>
	</form>
	<div class="border-top pt-3">
		<small class="text-muted">
			Don't Have An Account? <a class="ml-2" href="{% url 'register' %}">Sign Up Now!</a>
		</small>
	</div>
</div>
<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container">
    <p class="nav navbar-nav navbar-left" style="color:gray;"> Copyright &copy; Swift Taylor Co-Op</p>
	<p class="nav navbar-nav navbar-right" style="color:gray;"> Address: Old Main Hill, Logan, UT 84321 </p>
  </div>
</nav>

</body>
</html>