<!DOCTYPE html>
{% load static %}
<html>
<head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'tools/style.css' %}">

<style>
</style>

</head>


<body class="wood-background">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Swift-Taylor Tool Co-Op</a>
    </div>
    <!--Navbar links-->
    <ul class="nav navbar-nav">
      <li><a href="{% url 'homepage' %}">Home</a></li>
      <li><a href="{% url 'tools' %}">Tools</a></li>
      <li><a href="{% url 'about' %}">About</a></li>
    <li><a href="{% url 'contact' %}">Contact</a></li>
    <li><a href="{% url 'blog' %}">Blog</a></li>
    </ul>
    <!--User Management Buttons-->
    <ul class="nav navbar-nav navbar-right">
    <li class="active"><a href="{% url 'register' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
    <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>

<br>
<br>


<h2 >You have been logged out</h2>
<div class="border-top pt-3">
	<small class="text-muted">
		Log In Again <a class="ml-2" href="{% url 'login' %}">Log In</a>
	</small>
</div>

</body>
</html>